<div id="addServer" [class]=" 'col-sm-6 ' + getAllowed()" >
  <app-success-alert *ngIf="serverCreated; else addServer" ></app-success-alert>
  <div id="content" (click)="onCreating()">{{getStatus()}}</div>
  <ng-template #addServer>
  <div id="add" [class]="showInput()">
    <input type="text" class="form-control"
           placeholder="Name"  (input)="onUpdateServerName($event)"/>
    <div id="newServerName" >{{newServerName}}</div>
    <input type="text" class="form-control"
           placeholder="Name"  [(ngModel)] = "newServerName"/>
    <input type="button" class="btn btn-primary" value="Submit" (click)="createServer()"/>
  </div>
  </ng-template>
</div>

