<!--The content below is only a placeholder and can be replaced.-->
<div>
  <div class="container">

  <div class="row">
    <h3>
      <img width="30" alt="Angular Logo"
           src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">

      Welcome to {{ title }}!
    </h3>
  </div>
<hr>
    <app-warning-alert></app-warning-alert>
    <app-success-alert text="Sample"></app-success-alert>


  <div class="row">
  <div class="col-sm-5">

    <div class="container">
      <div>
        <span>Enter a name:</span><span> <input type="text" [(ngModel)]="name"></span>
      </div>
      <div>
        It will show up here: <b>{{name}}</b>
      </div>
    </div>

    <app-binding-assignment></app-binding-assignment>

  </div>
  <div class="col-sm-5">
    <app-servers></app-servers>
  </div>
  </div>
  </div>
</div>
